:root{
    --first: #F3C623;
    --second: #FEF3E2;
    --third: #eb6c18;
}


body{
    display: grid;
    grid-template-columns: calc(75% - 10px) calc(25% - 10px);
    grid-template-rows: 10vh auto 10vh;
    margin: 0;
    gap: 0px 20px;
    background-color: var(--third);
    /* Výběr fontů byl vygenerovaný pomocí chatGPT, nevím si s výběrem nikdy rady... */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

header{
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    background-color: var(--third);
}

main{
    min-height: 80vh;
    background-color: var(--first);
    border-radius: 20px;
    padding: 20px;
}

footer{
    grid-column: 1 / 3;
    background-color: var(--third);
}


/* Aside articles */ 


aside{
    background-color: var(--first);
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.asideHeader{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.asideHeader svg{
    cursor: pointer;
}

.asideHeader svg:hover circle{
    fill: #eb6c18;
}

article.aside{
    background-color: var(--third);
    border: 3px solid var(--second);
    width: 90%;
    padding: 0px 10px;
    display: flex;
    justify-content: space-between;
    color: var(--second);
    border-radius: 15px;
    box-shadow: 2px 2px 2px 2px rgb(202, 146, 25);
    transition: 300ms;
    cursor: pointer;
    &:hover{
        box-shadow: 4px 4px 3px 3px rgb(222, 160, 40);
    }
}


article.aside svg.eye path{
    stroke: var(--second);
    transition: 300ms;
    
}

article.aside svg.eye:hover path{
        stroke:#eb6c18;
    }


article.aside svg.bin{
    fill: var(--second);
    transition: 300ms;
    &:hover{
        fill: #eb6c18;
    }
}

div.svgDivide{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}




/* Header and header animation */
.svgText{
    font-size: 50px;
    font-weight: 900;
    font-family: Arial;
    fill: var(--first);
    background-color: var(--third);
}

#card1, #card2, #card3{
    stroke: rgb(10, 1, 1);
    stroke-width: 1;
    fill: var(--first);
    animation: headerMovement 1s linear 0 infinite;
}

#card2 {
    transform: translateX(0px) rotate3d(1, 1, 1, 0);
    transform-origin: 405px;
    animation: cardSpring 10s ease-in-out infinite;
    animation-delay: 2s;
}
/* 
@keyframes cardSpring {
    0% {
        transform: rotate3d(1, 1, 1, 0deg); 
    }
    10% {
        transform: translateX(300px) rotate3d(3, 2, 5, 270deg);
        fill: #b4a802; 
    }
    20%{
        transform: translateX(0) rotate3d(1, 1, 1, 0deg);
        fill: var(--first);
    }
}
 */
text{
    stroke: rgb(63, 11, 11);
    stroke-width: 0.75;
}

#char1 {
    animation: bounceRight 10s ease-in-out infinite;
    animation-delay: 0s;
}

#char2 {
    animation: bounceRight 10s ease-in-out infinite;
    animation-delay: 0.2s;
}

#char3 {
    animation: bounceRight 10s ease-in-out infinite;
    animation-delay: 0.4s;
}
#char4 {
    animation: bounceRight 10s ease-in-out infinite;
    animation-delay: 0.6s;
}
#char5 {
    animation: bounceRight 10s ease-in-out infinite;
    animation-delay: 0.8s;
}
#char6 {
    animation: bounceRight 10s ease-in-out infinite;
    animation-delay: 1s;
}
#char7 {
    animation: bounceRight 10s ease-in-out infinite;
    animation-delay: 1.2s;
}
#char8 {
    animation: bounceRight 10s ease-in-out infinite;
    animation-delay: 1.4s;
}
#char9 {
    animation: bounceRight 10s ease-in-out infinite;
    animation-delay: 1.6s;
}
#char10 {
    animation: extraBounceRight 10s ease-in-out infinite;
    animation-delay: 1.8s;
}
/* 
@keyframes bounceRight {
    0% { 
        transform: translateX(0); 
    }
    5% { 
        transform: translateX(8px); 
    }
    10% { 
        transform: translateX(0); 
    }
}

@keyframes extraBounceRight {
    0% { 
        transform: translateX(0); 
    }
    5% { 
        transform: translateX(50px);
    }
    10% { 
        transform: translateX(0); 
    }
} */