@import url("variables.css");

footer{
    grid-column: 1 / 3;
    background-color: var(--third);
    display: flex;
    justify-content: space-between;
    p{
        font-size: small;
        font-style: italic;
        margin: 20px 10px 0px 10px; 
    }

    button{
        background-color: var(--third);
        border: 2px solid var(--second);
        border-radius: 5px;
        padding: 10px 5px;
        margin: 5px 0px 5px 10px;
        color: var(--second);
        font-style: bold;
        cursor: pointer;
        
        -webkit-transition: 300ms;
        -moz-transition: 300ms;
        transition: 300ms;

        &:hover{
            background-color: var(--first);
            box-shadow: 3px 3px 5px var(--first);
        }
    }

}

